*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
}

.link{
    color: #0899ba;
    text-decoration: underline;
}

.loginBar{
    background-color: #0899ba;
    padding: 20px;
    margin-bottom: 20px;
}

.header__titulo{
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.infoPrimera{
    font-size: 25px;
    margin-top: 3rem;
}

.saludoInicial{
    margin-top: 2rem;
}

.preguntaInicial{
    font-size: 25px;
}

.btn1{
    margin-top: 1.5rem;
}

.btn2{
    margin-top: 2rem;
}

.btn3{
    margin-top: 2rem;
}

.sub{
    display:block;
    margin-bottom: 1rem;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.container{
text-align: center;
}

.botonC{
    margin-top: 2rem;
}
